@font-face {
   font-family: "Miller Display Italic";
   src: url("/umber/fonts/miller-display-italic.woff2");
}
@font-face {
   font-family: "Overpass";
   src: url("/umber/fonts/overpass.woff2");
}
figure > a,
header {
   align-items: center; /* vertical */
}
body {
   background: radial-gradient(#dee1ec 80%, #becbff);
}
h1 {
   color: #0d0cb5;
}
#newer,
#older,
.repo {
   color: #c82121;
}
figure > a,
footer,
header,
main {
   display: flex;
}
figure,
img {
   flex-basis: 426px;
}
img {
   flex-shrink: 0;
}
footer,
header,
main {
   flex-wrap: wrap;
}
h1 {
   font-family: "Miller Display Italic";
}
.repo,
footer,
main {
   font-family: "Overpass";
}
h1 {
   font-size: 3em;
}
main {
   font-size: large;
}
.repo {
   font-size: x-large;
}
footer {
   font-size: xx-large;
}
figure > a {
   height: 240px;
}
figure > a,
footer,
header,
main {
   justify-content: center; /* horizontal */
}
.repo,
h1 {
   margin-bottom: 0;
}
footer,
header {
   margin-bottom: 8px;
}
figure {
   margin-bottom: 12px;
}
#newer,
#older,
.repo,
form,
h1 {
   margin-left: 6%;
}
figure,
header {
   margin-left: 8px;
}
#newer,
#older,
.repo,
form,
h1 {
   margin-right: 6%;
}
figure,
header {
   margin-right: 8px;
}
.repo,
h1 {
   margin-top: 0;
}
figcaption {
   margin-top: 6px;
}
figure {
   margin-top: 12px;
}
figure,
figure > a {
   overflow: hidden;
}
input {
   text-align: center;
}
a {
   text-decoration: none;
}
input {
   vertical-align: middle;
}
